.header-text h2{
    margin-top: 140px;
    font-size: 48px;
    color:#111430;
}
.header-text p{
    font-size:16px;
    color: #000;
}
.headermain-container img{
    margin-top:70px;
}
.btn{
    width: 170px;
    height: 45px;
    color: #fff;
    background: #111430;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: .1s all linear;
    border:2px solid #111430;
}
.btn:hover{
    background:transparent;
    color: #000;
   
}
.joinCompany-container img{
    width: 99px;
    height:50px;
    opacity: 0.6;
}
.joinCompany-container{
    padding:98px 0 ;
    margin-left: 98px;
}